<div class="h-screen w-screen overflow-hidden bg-white relative flex items-center justify-center p-[15px]"
  *transloco="let t">
  <main class="flex flex-row w-full h-full gap-[20px] animate-scale-in">

    <section
      class=" flex-1 flex flex-col items-center bg-white rounded-[24px] border-[4px] border-[#EDF1F1] relative text-black overflow-hidden shadow-sm">

      <app-notification-container-component></app-notification-container-component>

      <header class="w-full max-w-[700px]
      laptop:max-w-[700px] mac:max-w-[900px] standard:max-w-[1100px] ultra:max-w-[1400px] mx-auto
         h-[40px] mt-[20px] px-[24px] flex flex-row justify-between items-center shrink-0">
        <app-project-logo-component aboveColor="#000000" textColor="#000000" outlineColor="#FFFFFF"
          class="h-full"></app-project-logo-component>
        <app-language-switcher-component variant="toggle"></app-language-switcher-component>
      </header>

      <div
        class="w-full max-w-[400px] flex-1 flex flex-col justify-center gap-[14px] animate-fade-in py-10 relative z-[60]">

        <app-auth-header-component [title]="title()" [subtitle]="subtitle()"></app-auth-header-component>

        <router-outlet></router-outlet>

      </div>

      <footer class="w-full text-center pb-4 pt-2 text-[12px] font-light text-[#909091] tracking-wide shrink-0">
        {{ t('AUTH.COPYRIGHT') }}
      </footer>

    </section>

    <section class="hidden lg:flex flex-1 flex-col relative rounded-[24px] overflow-hidden bg-[#196FEB]">
      <div class="absolute inset-0 z-0 pointer-events-none">
        <img ngSrc="assets/imgs/loginBackground.png" priority fill class="object-cover mix-blend-overlay"
          alt="Background Pattern" />
      </div>

      <div class="relative z-10 w-full max-w-[450px] mx-auto mt-[40px] px-6">
        <h1 class="text-white text-[24px] font-semibold leading-tight text-center">
          {{ t('AUTH.SLOGAN') }}
        </h1>
        <div class="flex gap-1.5 justify-center mt-[16px]">
          <span class="w-6 h-1.5 rounded-full bg-white"></span>
          <span class="w-1.5 h-1.5 rounded-full bg-white/40"></span>
          <span class="w-1.5 h-1.5 rounded-full bg-white/40"></span>
        </div>
      </div>

      <div
        class="absolute bottom-[-20px] start-[80px] w-[95%] h-[75%] rounded-[12px] border-[8px] border-white/10 overflow-hidden shadow-2xl">
        <img ngSrc="assets/imgs/login-illustration.png" fill priority alt="Dashboard Preview"
          class="object-cover object-top" />
      </div>
    </section>

  </main>
</div>
