<div class="flex flex-col items-center w-full  ">
  <div class="w-full  h-[42px] mb-3 shrink-0 relative z-50">
    <app-page-header-component [(selectedStatus)]="statusFilter" [actionLabel]="actionLabel()"
      (actionClicked)="onAdd.emit()" [(searchQuery)]="searchTerm" />
  </div>

  <div class="w-full  min-h-[500px]   shadow-soft  relative mt-5 border rounded-lg">
    <ng-content />

    <div class="absolute -bottom-12 left-0 w-full h-[30px] ">
      <app-paginagtion-component [totalItems]="totalItems()" [(currentPage)]="currentPage" />
    </div>

  </div>

</div>
