<div class="flex items-center w-[100px] h-[24px] gap-[4px]  hover-lift hover:shadow-sm transition-all duration-200" *transloco="let t">

  <div class="relative w-[24px] h-[24px] flex shrink-0 items-center justify-center">
    <div class="absolute" [style.top.px]="2" [style.left.px]="6">
      <ng-icon name="lucideUsers" size="24" color="#FFFFFF" strokeWidth="3" class="block" strokeWidth="2.3"> </ng-icon>
    </div>
  </div>

  <div class="w-[72px] h-[24px] flex items-center justify-end">
    <span class="text-[16px] font-[700] leading-none text-white font-arabic whitespace-nowrap">
      {{t('HEADER.COMPANYNAME')}}
    </span>
  </div>




</div>
