<div class="grid grid-cols-[auto_1fr] grid-rows-[85px_1fr] h-screen w-full overflow-hidden bg-[#F8F8F8] antialiased"
  *transloco="let t">

  <header class="col-start-1 col-end-3 row-start-1 row-end-2 z-20 border-b border-black/5">
    <app-header-component></app-header-component>
  </header>

  <aside class="row-start-2 row-end-3 bg-[#191919] transition-all duration-300 ease-in-out shadow-2xl"
    [style.width]="isSidebarExpanded() ? '251px' : '80px'">
    <app-sidebar-component [isExpanded]="isSidebarExpanded()" (toggle)="toggleSidebar()">
    </app-sidebar-component>
  </aside>

  <main class="row-start-2 row-end-3 overflow-y-auto p-4 md:p-10 font-arabic bg-[#F8F8F8]">
  <div class="w-full mx-auto max-w-[1600px] flex flex-col min-h-full">
    <app-breadcrumb-component class="mb-6" />

    <section class="flex-1 relative text-black">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>

</div>
