<div
  class="bg-[#FFFFFF] rounded-[20px] shadow-sm border border-[#0000001A] mx-auto font-arabic translate-y-3"
  [style.width.px]="1013"
  [style.min-height.px]="587"
  [style.padding]="'29px 46px'"
  *transloco="let t"
>
  <div class="mb-[37px] text-right text-black">
    <app-page-title-component [title]="title()" />
  </div>

  <form (ngSubmit)="submit.emit()" class="flex flex-col h-full">
    <div class="grid grid-cols-2 gap-x-[32px] gap-y-[33px]">
      <ng-content select="[formFields]"></ng-content>
    </div>

    <div class="flex justify-end items-center gap-[16px] mt-auto pt-[32px] ">
      <ng-content select="[formActions]"></ng-content>
    </div>
  </form>
</div>
