<app-app-base-table-component [(searchTerm)]="searchTerm" [totalItems]="totalItems()" [(currentPage)]="currentPage"
  [extraFilters]="empTypesFilters" [extraActions]="empTypesActions" *transloco="let t">

  <ng-template #empTypesFilters>
    <app-status-badge-component label="FILTERS.STATUS" [options]="statusOptions"
      [(selectedStatus)]="selectedStatus"></app-status-badge-component>
  </ng-template>

  <ng-template #empTypesActions>
    <app-action-btn-component [label]="t('JOB_LEVEL.ADD_TYPE')" (clicked)="goToCreate()" />
  </ng-template>

  <div class="w-full ">
    @if (empTypesResource.isLoading()) {
    <div class="flex justify-center py-20 text-gray-400">
      {{ t('COMMON.MESSAGES.LOADING_DATA') }}
    </div>
    }

    @if (empTypesResource.error()) {
    <div class="bg-red-50 text-red-600 p-6 rounded-xl text-center border border-red-100">
      <p>فشل الاتصال بالنظام</p>
      <button (click)="empTypesResource.reload()" class="mt-3 px-4 py-2 bg-red-600 text-white rounded-lg">
        إعادة المحاولة
      </button>
    </div>
    }

    @if (empTypesResource.value()) {
    <table class="w-full   font-arabic text-black border border-[#F4F4F4]/50 rounded-xl overflow-hidden">
      <thead class="text-sm sticky top-0 bg-[#F4F4F4] z-10">
        <tr>
          <th class="py-4 ps-24 text-start">{{t('JOB_LEVEL.TYPE_NAME')}}</th>
          <th class="py-4 pe-26">{{t('JOB_LEVEL.EMPLOYEE_COUNT')}}</th>
          <th class="py-4 pe-60">{{t('JOB_LEVEL.STATUS')}}</th>
          <th class="py-4 px-20 text-center"></th>
        </tr>
      </thead>
      <tbody>
        @for (type of typesList(); track type.id) {
        <tr class="bg-white hover:bg-gray-50/50 transition-all border-b border-gray-100">
          <td class="py-4 ps-24 text-start font-normal text-sm">{{ type.name }}</td>
          <td class="py-4 pe-26 text-sm text-center">{{ type.employeeCount }} {{t('JOB_LEVEL.EMPLOYEES')}}</td>
           <td class="py-3 pe-60 flex justify-center">
            <app-table-status-badge-component [status]="type.status" />
          </td>
          <td class="py-4 px-20">
            <div class="flex gap-5 justify-end">
              <button
                (click)="handleEdit(type.id)"
                class="flex size-[30px] items-center justify-center rounded-full bg-[#0000001A] transition-colors hover:bg-[#00000033]"><ng-icon
                  name="lucidePencil" size="16px" color="black" /></button>
              <button
                (click)="handleDelete(type.id)"
                class="flex size-[30px] items-center justify-center rounded-full bg-[#0000001A] transition-colors hover:bg-[#00000033]"><ng-icon
                  name="lucideTrash2" size="16px" color="#F40552" /></button>
              <button
                (click)="handleView(type.id)"
                class="flex size-[32px] items-center justify-center rounded-full bg-[#61BDDC33] hover:bg-gray-100 transition-colors"><ng-icon
                  name="lucideEye" size="16px" color="#61BDDC" /></button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</app-app-base-table-component>
