<div [class]="'py-4 px-3 truncate rounded-[14px] border flex flex-col justify-between transition-all ' +
                  (isWorkDay() ? 'border-[#6EA30D]' : 'border-[#6EA30D1A]')" *transloco="let t">

  <div class="flex flex-col text-right">
    <span class="text-sm font-bold text-black">{{ dayNumber() }}</span>
    <span class="text-sm font-semibold text-black mb-2">{{ t(dayName()) }}</span>
  </div>

  <div class=" flex flex-col items-start gap-1.5 w-full mt-auto">
    @if (isWorkDay()) {
    <div class="flex items-center justify-end gap-2">
      <ng-icon name="lucideLogIn" size="16" color="#BB0000" class="flex-shrink-0" />
      <span class="text-sm font-normal text-[#797979]">{{ checkIn() }} AM</span>
    </div>

    <div class="flex items-center justify-end gap-2">
      <span class="text-sm font-normal text-[#797979]">{{ checkOut() }} PM</span>
      <ng-icon name="lucideLogIn" size="16" color="#03BE00" class="rotate-180 flex-shrink-0" />
    </div>
    } @else {
    <span class="text-sm font-normal text-[#797979] text-center w-full block py-1">
      {{ t(statusText()) }}
    </span>
    }
  </div>
</div>
