<main class="flex justify-center" *transloco="let t">
  @if (isFormReady()) {
    <div class="w-full max-w-standard bg-white rounded-[20px] shadow-soft border border-black/5 flex flex-col mx-auto">
      <app-form-container-component [title]="t('MENU.VIEW_ATTENDANCE_LOG_DETAILS')">
        <ng-container formFields>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6 col-span-full">
            <app-app-input-component [label]="t('ATTENDANCE.TABLE_EMPLOYEE_NAME')"
              [control]="detailsForm.controls.employeeName" />

            <app-app-input-component [label]="t('ATTENDANCE.STATUS')"
              [control]="detailsForm.controls.status" />
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6 col-span-full mt-6">
            <app-app-date-input-component [label]="t('ATTENDANCE.DATE')"
              [control]="detailsForm.controls.logDate" />

            <app-time-input-component [label]="t('ATTENDANCE.LOG_TIME')"
              [control]="detailsForm.controls.logTime" />
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6 col-span-full mt-6">
            <app-app-input-component [label]="t('ATTENDANCE.SOURCE')"
              [control]="detailsForm.controls.source" />

            <app-app-input-component [label]="t('ATTENDANCE.SESSION_NUMBER')"
              [control]="detailsForm.controls.sessionId" />
          </div>

          @if (detailsForm.controls.invalidReason.value) {
            <div class="grid grid-cols-1 gap-y-6 col-span-full mt-6">
              <app-app-input-component [label]="t('ATTENDANCE.INVALID_REASON')"
                [control]="detailsForm.controls.invalidReason" />
            </div>
          }
        </ng-container>

        <ng-container formActions>
          <app-form-save-button-component [label]="'COMMON.BACK'" (clicked)="onBack()" />
        </ng-container>
      </app-form-container-component>
    </div>
  }
</main>
