<ng-container *transloco="let t">
  <div class="relative flex items-center w-[288px] h-[40px] border transition-all duration-200 rounded-[8px]" [class]="variant() === 'table'
                ? 'bg-white border-[#F0F0F0] focus-within:border-primary'
                : 'bg-transparent border-[#333333] focus-within:border-[#B2E742]'">

    <div class="flex items-center w-[268px] h-[24px] gap-[10px] mx-auto">

      <div class="relative w-[24px] h-[24px] flex shrink-0 items-center justify-center">
        <ng-icon name="lucideSearch" size="18" [color]="variant() === 'table' ? '#00000080' : '#FFFFFF'"
          strokeWidth="2.5">
        </ng-icon>
      </div>

      <input type="text" [value]="searchQuery()" (input)="onInput($event)"
        [placeholder]="t(placeholder())" [class.text-black]="variant() === 'table'" class="flex-1 h-[23px] bg-transparent outline-none
              border-none text-[15px] font-[400] leading-none
               placeholder:text-[#999999] font-arabic" [class.text-black]="variant() === 'table'"
        [class.text-white]="variant() === 'default'" />
    </div>
  </div>
</ng-container>
